* {
  text-decoration: none;
  padding: 0px;
  box-sizing: border-box; }


body{
	background-color: #2a364a;
	color: #fff;
	/*overflow: hidden;*/
}
.row{
	margin: 0px;
}

footer{
	width: 100%;
	height: 50px;
	text-align: center;
}

footer p{
	padding: 1em;
}

.customLogo{
	padding: 5%;
	text-align: center;
}


/*Navigation*/
ul{
	list-style: none;
}

.menu {
    margin: 30px;
}